$main-bg:              #1f2533 !default; // 背景
$heard-bg:             #282e40 !default; // 头部背景
$inp-p:                #374059 !default; // 输入框 placeholder
$icon:                 #ffffff !default; // 图标背景
$active:               #05d900 !default; // 选中字体色
$message-bg-base:      #4a5169 !default; // 消息基础背景
$font-color:           #e5ebff !default; // 字体颜色
$message-icon:         #2ba345 !default; // 绿色图标
$cur-sub-menu-color:   #0aba08 !default; // 绿色文字
$wechat-bg:            #2d3447 !default; // 微信图标背景
$wechat:               #00c800 !default; // 微信颜色
$font-color-id:        #b8bccc !default; // 字体色
$font-color-dir:       #a1a4b3 !default; // 字体色
$font-color-w-t:       #d9ffe1 !default; // 字体色
$wall-line:            #2fb44c !default; // 线条颜色 
$wal-ref:              #e5ffeb !default; // 刷新icon
$font-color-del:       #c6ffd2 !default; // 字体色
$font-color-fun:       #ced5e7 !default; // 字体色
$font-new-menu:        #cfd3e6 !default; // 字体色
$font-new-rem:         #8a8ea0 !default; // 字体色
$font-new-more:        #8a8d99 !default; // 字体色
$new-more-line:        #4f5b80 !default; // 字体色
$font-funs:            #b8bdcc !default; // 字体色
$member-more:          #7681a6 !default; // 更多按扭
$task-icon-bg:         #008143 !default; // 图标底色 
$task-color-icon:      #e5fff3 !default; // 图标色
$ver-lin:              #32384c !default; // 线条色
$ver-bg:               #242a3b !default; // 实名验证背景色
$font-but-login:       #333b52 !default; // 登入字体色
$font-login-s:         #bd3543 !default; // 登入字体色
$login-mas-f:          #000000 !default; // 登入蒙版